body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    justify-content: center;
}
.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    justify-content: space-between;
    max-height: 30px;
    align-items: center;
    padding: 15px;
}
ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}
a {
    font-size: 18px;
    color: #E5e7eb;
    text-decoration: none;
}

.welcome-container {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    gap: 10px;
    padding: 0 100px 50px 100px;
}
.text-container {
    width: 500px;
}
button {
    color: #f9faf8;
    background-color: #3882F6;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

img {
    width: 300px;
    height: 180px;
}
.info-header {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    text-align: center;
}
.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-bottom: 20px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
}
.info-pic {
    height: 150px;
    width: 150px;
    border: 4px, solid, #3882F6;
    border-radius: 10px;
}
.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5e7eb;
}
.quote, .aurthor {
    width: 700px;
    padding: 10px;
}
.call-to-action {
    display: flex;
    background-color: #3882F6;
    color:#f9faf8;
    margin: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer {
    text-align: center;
    font-size: small;
    color: #f9faf8;
    background-color: #1F2937;
}